<center>
	<img src="{{ href }}". height=500>
	<form method = "POST" >
		<p>Please select team batting first:</p>
		<input type="radio" id="KK" name="Team1" value="KK">
		<label for="KK">Karachi Kings</label>

		<input type="radio" id="LQ" name="Team1" value="LQ">
		<label for="LQ">Lahore Qalandars</label>

		<input type="radio" id="IU" name="Team1" value="IU">
		<label for="IU">Islamabad United</label>

		<input type="radio" id="PZ" name="Team1" value="PZ">
		<label for="PZ">Peshawar Zalmi</label>

		<input type="radio" id="QG" name="Team1" value="QG">
		<label for="QG">Quetta Gladiators</label>

		<input type="radio" id="MS" name="Team1" value="MS">
		<label for="MS">Multan Sultans</label>

		<br>
		<p>Please select team batting second:</p>
		<input type="radio" id="KK" name="Team2" value="KK">
		<label for="KK">Karachi Kings</label>

		<input type="radio" id="LQ" name="Team2" value="LQ">
		<label for="LQ">Lahore Qalandars</label>

		<input type="radio" id="IU" name="Team2" value="IU">
		<label for="IU">Islamabad United</label>

		<input type="radio" id="PZ" name="Team2" value="PZ">
		<label for="PZ">Peshawar Zalmi</label>

		<input type="radio" id="QG" name="Team2" value="QG">
		<label for="QG">Quetta Gladiators</label>

		<input type="radio" id="MS" name="Team2" value="MS">
		<label for="MS">Multan Sultans</label>

		<br>
		<input type="submit" value="Submit">

		

	</form>
</center>